.main-menu {
    display: inline-block;
}

.main-menu .item {
    font-size: 15px;
    /* c#101010 */
    color: #101010;
    text-decoration: none;
    text-transform: uppercase;
    margin-right: 42px;
}
