body{
    font-family: "Open Sans", sans-serif;
}

h1 {
    font-size: 35px;
}
 
a {
    font-size: 15px;
    color: #101010;
    text-decoration: none;
    text-transform: uppercase;
}

#btn{
    background-color: #754ef9;
    color: #ffffff;
    padding: 14px 45px 14px 45px;
    border-radius: 100px;
}