<!-- ../connectedin/perfis/templates/perfil.html !-->

{% extends "base.html" %}

{% block body %}
<div class="row">
    <div class="col-lg-12">
        <h2>{{ perfil.nome }}</h2>
        <address>
            <strong>{{ perfil.empresa }}</strong><br>
            <abbr title="Telefone">Tel:</abbr> {{ perfil.telefone }}<br>
            <a href="mailto:{{perfil.email}}">{{ perfil.email }}</a>
        </address>

        {% if ja_eh_contato %}
            <div class="well well-sm">Vocês estão conectados!</div>
        {% else %}
            <a href="{% url 'convidar' perfil.id %}" class="btn btn-success" role="button">
                Convidar
            </a>
        {% endif %}
        
    </div>
</div>
{% endblock %}