.container > p::first-letter {
    font-size: 200%;
    font-weight: bold;
    color: #3C1D3D;
    text-shadow: 1px 1px #000;
    margin-right: .2ch;
    line-height: 1;
}

.citacao-bio::before {
    content: '"';
    font-size: 10em;
    color: #bbb;
    position: absolute;
    line-height: 0.8;
}

.citacao-bio > p {
    position: relative;
}

.citacao-bio {
    background-color: #D9E5E3;
    border: .5em solid #C2CCCA;
    padding: 1em;
    margin: 1em 2em;
    width: 30ch;
    box-sizing: border-box;
}

.citacao-bio:nth-of-type(odd) {
    float: right;
    margin-right: 0;
}

.citacao-bio:focus,
.citacao-bio:hover {
    box-shadow: 0px 0px 0px 9999px rgba(0, 0, 0, 0.75);
}

.citacao-bio:nth-of-type(odd):focus,
.citacao-bio:nth-of-type(odd):hover {
    transform: rotate(5deg) scale(1.2);
}

.citacao-bio:nth-of-type(even) {
    float: left;
    margin-left: 0;
}

.citacao-bio:nth-of-type(even):focus,
.citacao-bio:nth-of-type(even):hover {
    transform: rotate(-5deg) scale(1.2);
}

.habilidades {
    margin: 1em 0;
}

.habilidades th {
    font-weight: bold;
    background-color: #851944;
    color: #FFF;
}

.habilidades thead th {
    background-color: #3C1D3D;
}

.habilidades th,
.habilidades td {
    padding: 1em;
}

.habilidades {
    border-collapse: separate;
    border-spacing: 0.25em;
}

.habilidades [colspan] {
    text-align: center;
    font-style: italic;
}

.habilidades [rowspan] {
    vertical-align: middle;
}