h1 {
    -webkit-animation: aparece 2s;
    animation: aparece 2s;
}

@keyframes aparece {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@-webkit-keyframes aparece {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}


.container > p::first-letter {
    font-size: 200%;
    font-weight: bold;
    color: #3C1D3D;
    text-shadow: 1px 1px #000;
    margin-right: .2ch;
    line-height: 1;
}

.citacao-bio::before {
    content: '"';
    font-size: 10em;
    color: #bbb;
    position: absolute;
    line-height: 0.8;
}

.citacao-bio > p {
    position: relative;
}

.citacao-bio {
    background-color: #D9E5E3;
    border: .5em solid #C2CCCA;
    padding: 1em;
    margin: 1em 2em;
    width: 30ch;
    box-sizing: border-box;
    transition: transform 1s linear, box-shadow 2s ease-in;
    transition-delay: 0s, 1s;
    position: relative;
    -webkit-animation: quica 1s infinite;
    animation: quica 1s infinite;
    -webkit-animation-direction: alternate;
    animation-direction: alternate;
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
}

@keyframes quica {
    from {
        top: 0;
    }
    90% {
        transform: rotate(-2deg);
    }
    95% {
        transform: rotate(2deg);
    }
    to {
        top: 1em;
    }
}

@-webkit-keyframes quica {
    from {
        top: 0;
    }
    90% {
        transform: rotate(-2deg);
    }
    95% {
        transform: rotate(2deg);
    }
    to {
        top: 1em;
    }
}

.citacao-bio:nth-of-type(odd) {
    float: right;
    margin-right: 0;
}

.citacao-bio:focus,
.citacao-bio:hover {
    box-shadow: 0px 0px 0px 9999px rgba(0, 0, 0, 0.75);
    -webkit-animation-play-state: paused;
    animation-play-state: paused;
    transition-delay: 1s, 0s;
}

.citacao-bio:nth-of-type(odd):focus,
.citacao-bio:nth-of-type(odd):hover {
    transform: rotate(5deg) scale(1.2);
}

.citacao-bio:nth-of-type(even) {
    float: left;
    margin-left: 0;
}

.citacao-bio:nth-of-type(even):focus,
.citacao-bio:nth-of-type(even):hover {
    transform: rotate(-5deg) scale(1.2);
}

.habilidades {
    margin: 1em 0;
}

.habilidades th {
    font-weight: bold;
    background-color: #851944;
    color: #FFF;
}

.habilidades thead th {
    background-color: #3C1D3D;
}

.habilidades th,
.habilidades td {
    padding: 1em;
}

.habilidades {
    border-collapse: separate;
    border-spacing: 0.25em;
}

.habilidades [colspan] {
    text-align: center;
    font-style: italic;
}

.habilidades [rowspan] {
    vertical-align: middle;
}