.leia-mais {
    padding: .5em;
    margin: 1em;
    display: block;
    font-size: 1.5em;
    text-align: center;
    background-color: #E6E7E8;
}

.post-blog + .post-blog {
    
    background-image: linear-gradient(to right, #F2FFFC, #ccc, #F2FFFC);
    background-size: 80% 1px;
    background-position: top center;
    background-repeat: no-repeat;

    padding-top: 1.5em;
    margin-top: 1em;
}

