body {
    font-family: 'Crimson Text', 'Times New Roman', serif;
    background-color: #f2fffc;
    font-size: 120%;
    line-height: 1.5;
}

main {
    float: left;
    width: 85%;
    padding-bottom: 80px;
}

h1, h2 {
    font-family: 'Open Sans Condensed', 'Arial', sans-serif;
}

h2 {
    font-size: 30px;
    clear: both;
}

p {
    text-align: justify;
    margin: 20px 0;
}

a {
    text-decoration: none;
}

main a {
    color: #851944;
}

strong {
    font-weight: bold;
}

em {
    font-style: italic;
}

.titulo-pagina {
    text-align: center;
    color: #FFF;
    font-size: 60px;

    background-color: #851944;
    border-bottom: 10px solid #000000;
    padding: 25px;
    text-transform: uppercase;
}

.conteudo-pagina {
    width: 720px;
    margin: auto;
    padding: 30px 0;
}

.foto-joao {
    position: absolute;
    top: 0;
    right: 0;
    float: right;
    box-sizing: border-box;
    border-left: 10px solid black;
    border-bottom: 10px solid black;
}