/* INICIO DO CONTEÚDO DA PÁGINA */

body {
    font-family: 'Crimson Text', 'Times New Roman', serif;
    background-color: #f2fffc;
    font-size: 120%;
    line-height: 1.5;
}

h1, h2 {
    font-family: 'Open Sans Condensed', 'Arial', sans-serif;
}

main h1 {
    text-align: center;
    background-color: #851944;
    color: #FFF;
    padding: 25px;
    border-bottom: 10px solid #000000;
}

main a {
    color: #851944;
}

p {
    text-align: justify;
}

blockquote {
    background-color: #D9E5E3;
    border: 10px solid #C2CCCA;
    width: 250px;
    box-sizing: border-box;    
}

main div {
    width: 720px;
    margin: auto;
}

a {
    text-decoration: none;
    color: #851944;
}

/* FIM DO CONTEÚDO DA PÁGINA */


/* INICIO DO TRECHO MENU DE NAVEGAÇÃO */

aside {
    background-color: #3C1D3D;
    color: #F2FFFC;
    text-align: center;
}

nav a {
    color: #F2FFFC;
}

aside a {
    color: inherit;
    font-family: "Open Sans Condensed", sans-serif;
}

aside ul {
    list-style: none;
}

/* FIM DO TRECHO MENU DE NAVEGAÇÃO */


/* INICIO DO TRECHO DO RODAPÉ */

footer {
    background-color: #000000;
    color: #F2FFFC;
}

/* FIM DO TRECHO DO RODAPÉ */


/* GERAL */

blockquote, aside, footer {
    padding: 20px;
}