/* INICIO DO CONTEÚDO DA PÁGINA */

body {
    font-family: 'Times New Roman', serif;
    background-color: #f2fffc;
}

h1, h2, a {
    font-family: 'Open Sans Condensed', sans-serif;
}

main h1 {
    text-align: center;
    color: #FFF;
    background-color: #851944;
}

a {
    text-decoration: none;
    color: #851944;
}

p {
    font-family: 'Crimson Text', serif;
    text-align: justify;
}

blockquote {
    background-color: #D9E5E3;
}

/* FIM DO CONTEÚDO DA PÁGINA */


/* INICIO DO TRECHO MENU DE NAVEGAÇÃO */

aside {
    background-color: #3C1D3D;
    color: #F2FFFC;
}

aside a {
    color: inherit;
}

aside ul {
    list-style: none;
}

/* FIM DO TRECHO MENU DE NAVEGAÇÃO */


/* INICIO DO TRECHO DO RODAPÉ */

footer {
    background-color: #000000;
    color: #F2FFFC;
}

/* FIM DO TRECHO DO RODAPÉ */