#pause {
    border-left: 10px solid black;
    border-right: 10px solid black;
    width: 5px;
    height: 30px;
}

#gravata {
    border-left: 30px solid red;
    border-right: 30px solid red;
    border-top: 30px solid transparent;
    border-bottom: 30px solid transparent;
    width: 0;
}

#triangulo {
    border-bottom: 30px solid blue;
    border-left: 30px solid blue;
    border-top: 30px solid transparent;
    border-right: 30px solid transparent;
    width: 0;
}